*{
    margin: 0;
    padding: 0;
    font-size: 14px;
}

html, body, .game-field-wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.game-field-wrap{
    display: table;
}

.game-field-valign{
    display: table-cell;
    vertical-align: middle;
}

.game-field-box{
    display: table;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    position: relative;
}

.game-field-box__field-sizer{
    width: 100%;
}

.game-field__cells-box{
    width: 100%;
    position: relative;
}

.score{
    width: 40%;
    display: block;
    font-size: 2em;
}
    .score-box__best-score{
        float: left;
        text-align: right;
    }
    .score-box__current-score{
        float: right;
        text-align: left;
    }
.game-field__cells-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 2px;
    box-sizing: border-box;
}

.game-field__new-particle-box{
    width: calc(100% / 3);
    display: table;
    float: left;
    position: relative;
}
    .game-field__new-particle-box-sizer{
        width: 100%;
    }
    .game-field__new-particle-valign-box{
        width: 100%;
        height: 100%;
    }


.new-particle-box{
    width: 100%;
    margin-left: 1000%;
    position: relative;
    transition: all 300ms;
}
.new-particle-box-sizer{
}

.game-field__new-particle-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.new-particle-container{
    height: 100%;
    margin: 0 auto;
    cursor: pointer;
    transition: all;
    transition-duration: 100ms;
    transition-timing-function: linear;
}

.game-field-wrap .cell{
    width: 9%;
    height: 9%;
    margin: 0.5%;
    transition: all 50ms;
}
.new-particle-container .cell{
    margin: 0;
    position: relative;
}
.new-particle-container .cell::after{
    position: absolute;
    content: attr(data-value);
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    border-radius: 25%;
}
.cell{
    display: block;
    float: left;
    box-sizing: border-box;
    border-radius: 25%;
}
.cell.hovered{
    background-color: aqua !important;
    transition-duration: 500ms !important;
}
.cell.space::after{
    background-color: transparent !important;
}
.cell.space::after{
    background-color: transparent;
}
.cell.empty{
    background-color: lightgray;
}
.cell .filled{
    width: 100%;
    height: 100%;
    border-radius: 25%;
    transition: all 300ms;
}
.cell .filled.remove{
    width: 0;
    height: 0;
    margin-top: 50%;
    margin-left: 50%;
}


.clear{
    clear: both;
}